body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 180px; /* Largura reduzida */
    background: #2c3e50; /* Cor da sidebar */
    color: #ecf0f1; /* Cor do texto */
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar a {
    color: #ecf0f1; /* Cor do link */
    text-decoration: none;
}

.sidebar a:hover {
    color: #3498db; /* Cor do hover */
}

.sidebar .auth-buttons {
    margin-top: 20px;
}

.sidebar .logout {
    display: block;
    background: #e74c3c; /* Cor do botão de logout */
    padding: 10px;
    text-align: center;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    background: #3498db; /* Cor do cabeçalho */
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #3498db; /* Cor do link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Estilo do hover do link */
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%; /* Sidebar ocupa 100% da largura em telas menores */
        height: auto;
        position: relative;
    }

    .main-content {
        padding: 10px;
    }
}
