<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico do Sono</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historico.css') }}">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/informacoes">Sobre o PSQI</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="/logout" class="button logout">Logout</a>
            </div>
        </nav>

        <div class="main-content">
            <header>
                <h1>Histórico de Sono de {{ username }}</h1>
            </header>

            <h2>Gráfico Histórico</h2>
            <iframe src="{{ url_for('static', filename='historico_sono.html') }}" width="100%" height="600px"></iframe>

            <table>
                <tr>
                    <th>Data</th>
                    <th>Pontuação Total</th>
                    <th>Qualidade do Sono</th>
                    <th>Detalhes</th>
                </tr>
                {% for score in scores %}
                <tr>
                    <td>{{ score['data'] }}</td>
                    <td>{{ score['total_score'] }}</td>
                    <td>
                        {% if score['questao6'] == 0 %}
                            Muito boa
                        {% elif score['questao6'] == 1 %}
                            Boa
                        {% elif score['questao6'] == 2 %}
                            Ruim
                        {% elif score['questao6'] == 3 %}
                            Muito Ruim
                        {% endif %}
                    </td>
                    <td><a href="#">Ver Detalhes</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
