<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div id="home_b1">
        <h1>Seja bem vindo a nosso site!</h1>
        <h2>O que você precisa saber antes de entrar:</h2>
        <h3>O PSQI (Pittsburgh Sleep Quality Index) é um questionário amplamente utilizado para avaliar a qualidade do sono. Desenvolvido para medir diferentes aspectos do sono ao longo do último mês, ele abrange fatores como a duração do sono, a frequência de distúrbios e a percepção geral do descanso. Composto por 19 perguntas simples, o PSQI gera uma pontuação que ajuda a identificar padrões de sono não saudáveis e pode ser utilizado em ambientes clínicos ou por qualquer pessoa interessada em melhorar sua qualidade de vida através de uma melhor compreensão de seus hábitos de sono.</h3>
        <div id="home_b2">
            <form action="login" id="login" method="post"></form>
            <label for="LOGAR"></label>
            <button type="submit" id="buttonlogin">ENTRAR</button>
            <button type="submit" id="buttoncadastrar" >CADASTRAR</button>

        </div>
        
    </div>

    
</body>
</html>