<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../static/css/login.css"> <!-- Conectando o CSS externo -->
</head>
<body>
    <div class="container">
        <h2>Entrar</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <div class="link">
            <p>Não tem uma conta? <a href="/cadastrar">Cadastrar-se</a></p>
        </div>
    </div>
</body>
</html>
